@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
    $font-family:'Bai Jamjuree', sans-serif;
    $color-p-Strong-Cyan: hsl(171, 66%, 44%);
    $color-p-Light-Blue: hsl(233, 100%, 69%);
    $color-n-Dark-Grayish-Blue: hsl(210, 10%, 33%);
    $color-n-Grayish-Blue: hsl(201, 11%, 66%);
    $color-white: hsl(0, 0%, 100%);
    $color-black: hsl(0, 0%, 0%);

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
}
.header_container{
    width: 100%;
    max-width: 90rem;
    min-width: 21.875rem;
    height: auto;
    background: url(../images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1.2rem;

    img{
        width: 8rem;
        height: auto;
        margin-block: 4rem;
    }
    h1{
        font: 600 2rem $font-family;
        color: $color-n-Dark-Grayish-Blue;
        text-align: center;
    }
    p{
        font: 400 1.1rem $font-family;
        color: $color-n-Grayish-Blue;
        text-align: center;
        line-height: 2rem;
        margin-block: 2rem;
    }
    .header_container_button{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        a{
            width: 20rem;
            height: 4rem;
            border-radius: 3rem;
            margin-block: 1rem;
            margin-inline: 0.7rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font: 600 1.2rem $font-family;
            color: $color-white;
        }
        .button1{
            background: $color-p-Strong-Cyan;
            box-shadow: 0px 4px 0px hsla(171, 87%, 27%, 0.726);
        }
        .button2{
            background: $color-p-Light-Blue;
            box-shadow: 0px 4px 0px hsla(233, 66%, 43%, 0.76);
        }
    }


}

.section1{
    display: grid;
    grid-template-areas: 
        "title"
        "img"
        "txt1"
        "txt2"
        "txt3";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 3.5rem;
    column-gap: 1rem;

    .text1{
        grid-area: txt1;
    }
    .text2{
        grid-area: txt2;
    }
    .text3{
        grid-area: txt3;
    }
}
.section2{
    display: grid;
    grid-template-areas: 
        "title"
        "img";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 3.5rem;
    column-gap: 1rem;
}
.section3{
    display: grid;
    grid-template-areas: 
        "title"
        "txt1"
        "txt2"
        "txt3";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 3.5rem;
    column-gap: 1rem;

    .text1{
        grid-area: txt1;
    }
    .text2{
        grid-area: txt2;
    }
    .text3{
        grid-area: txt3;
    }
}
.section_container{
    width: 100%;
    max-width: 90rem;
    min-width: 21.875rem;
    height: auto;
    padding: 3rem 2.2rem;
    margin-block: 2rem;

    .section_title{
        grid-area: title;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /*padding: 1rem;*/

        h2{
            font: 600 1.7rem $font-family;
            color: $color-n-Dark-Grayish-Blue;
            text-align: center;
            margin-bottom: 1rem;
        }
        p{
            font: 400 1rem $font-family;
            color: $color-n-Grayish-Blue;
            text-align: center;
            line-height: 1.8rem;
        }
    }
    .section_img{
        grid-area: img;
        width: 100%;
        img{
            width: 100%;
            height: auto;
        }
    }
    .section_info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        img{
            width: auto;
            height: auto;
            margin-bottom: 2rem;
        }
        h3{
            font: 600 1.5rem $font-family;
            color: $color-n-Dark-Grayish-Blue;
            text-align: center;
            margin-bottom: .5rem;
        }
        p{
            font: 400 1rem $font-family;
            color: $color-n-Grayish-Blue;
            text-align: center;
            line-height: 1.8rem;
        }
    }
}
