@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
/* Init style */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

/* Body style */
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
}
body .attribution {
  font-size: 11px;
  text-align: center;
}
body .attribution a {
  color: hsl(228deg, 45%, 44%);
}

.ctn {
  width: 100%;
  max-width: 90rem;
  min-width: 21.875rem;
  height: auto;
  padding: 2rem;
}
.ctn * {
  font-family: "Bai Jamjuree", sans-serif;
}
.ctn h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 1.9rem;
  line-height: 2.2rem;
  text-align: center;
  letter-spacing: -0.005em;
  color: hsl(210deg, 10%, 33%);
}
.ctn h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.2rem;
  text-align: center;
  letter-spacing: -0.015em;
  color: hsl(210deg, 10%, 33%);
}
.ctn h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.9375rem;
  text-align: center;
  letter-spacing: -0.02em;
  color: hsl(210deg, 10%, 33%);
}
.ctn h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6rem;
  text-align: center;
  letter-spacing: 0.005em;
  color: hsl(201deg, 11%, 66%);
  max-width: 43.75rem;
}
.ctn p {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6rem;
  text-align: center;
  letter-spacing: 0.01em;
  color: hsl(201deg, 11%, 66%);
  max-width: 43.75rem;
}
.ctn img {
  width: 100%;
  height: auto;
}

.ctn_btn {
  width: 100%;
  max-width: 44rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.ctn_btn .itm_btn {
  width: 20rem;
  height: 3.5rem;
  border-radius: 3rem;
  margin-block: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 600 1.2rem "Bai Jamjuree", sans-serif;
  color: hsl(0deg, 0%, 100%);
}
.ctn_btn .btn1 {
  background: hsl(171deg, 66%, 44%);
  box-shadow: 0px 4px 0px hsla(171deg, 87%, 27%, 0.726);
}
.ctn_btn .btn2 {
  background: hsl(233deg, 100%, 69%);
  box-shadow: 0px 4px 0px hsla(233deg, 66%, 43%, 0.76);
}

.ctn_header {
  /*------background------*/
  background: url(../images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  /*----------------------*/
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ctn_header .ctn_header_logo {
  width: 8rem;
  height: auto;
  margin-top: 5.5rem;
  margin-bottom: 3.5rem;
}
.ctn_header h1 {
  margin-block: 1rem;
}
.ctn_header h4 {
  margin-block: 1rem;
}
.ctn_header .ctn_btn {
  margin-block: 1.5rem;
}

.ctn_stn {
  margin-block: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 3.5rem;
}
.ctn_stn .ctn_stn_title {
  grid-area: title;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ctn_stn .ctn_stn_title h2 {
  margin-block: 1rem;
}
.ctn_stn .ctn_stn_title p {
  margin-block: 1rem;
}
.ctn_stn .ctn_stn_img {
  grid-area: img;
  width: 100%;
  max-width: 53.125rem;
  align-self: center;
  justify-self: center;
}
.ctn_stn .ctn_section_inf {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: start;
}
.ctn_stn .ctn_section_inf .ctn_section_inf_logo {
  margin-bottom: 2rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ctn_stn .ctn_section_inf h3 {
  margin-bottom: 0.5rem;
}
.ctn_stn .itm1 {
  grid-area: itm1;
}
.ctn_stn .itm2 {
  grid-area: itm2;
}
.ctn_stn .itm3 {
  grid-area: itm3;
}

.ctn_stn_itm1 {
  grid-template-areas: "title" "img" "itm1" "itm2" "itm3";
}

.ctn_stn_itm2 {
  grid-template-areas: "title" "img";
}

.ctn_stn_itm3 {
  grid-template-areas: "title" "itm1" "itm2" "itm3";
}

.ctn_stn_logos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.ctn_stn_logos .ctn_logo_holder {
  max-width: 175px;
  height: auto;
  margin-block: 2rem;
  margin-inline: 3.5rem;
}

.ctn_stn_itm4 {
  grid-template-areas: "title" "other";
}
.ctn_stn_itm4 .ctn_btn {
  align-self: center;
  justify-self: center;
}

.ctn_footer {
  background: hsl(220deg, 18%, 97%);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  /*flex-direction: column;*/
  flex-wrap: wrap;
  /*display: grid;
  grid-template-columns: repeat(auto-fit, 18.75rem);*/
}
.ctn_footer .ctn_footer_logo_holder {
  width: 4rem;
  height: auto;
  margin: 2rem;
}
.ctn_footer .ctn_footer_links_holder {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  max-width: 31.25rem;
  margin-inline: 4rem;
}
.ctn_footer .ctn_footer_links_holder .itm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 10rem;
}
.ctn_footer .ctn_footer_links_holder .itm a {
  font: 400 1.2rem "Bai Jamjuree", sans-serif;
  color: hsl(210deg, 10%, 33%);
  margin: 1rem;
}
.ctn_footer .ctn_footer_social_holder {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}
.ctn_footer .ctn_footer_social_holder ion-icon {
  font-size: 2rem;
  color: hsl(210deg, 10%, 33%);
  margin-inline: 1.5rem;
}

@media only screen and (min-width: 62.5rem) {
  .ctn h1 {
    font-size: 2.8125rem;
    line-height: auto;
    letter-spacing: -0.005em;
  }
  .ctn h2 {
    font-size: 2.25rem;
    line-height: auto;
    letter-spacing: -0.015em;
  }
  .ctn h3 {
    font-size: 1.5rem;
    line-height: auto;
    letter-spacing: -0.02em;
  }
  .ctn h4 {
    font-size: 1.25rem;
    line-height: 1.9375rem;
    letter-spacing: 0.005em;
  }
  .ctn p {
    font-size: 1.125rem;
    line-height: 1.875rem;
    letter-spacing: 0.01em;
  }
  .ctn_btn .itm_btn {
    width: 15rem;
  }
  .ctn_header {
    /*------background------*/
    background: url(../images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    /*----------------------*/
  }
  .ctn_stn_itm1 {
    grid-template-areas: "title title" "img itm1" "img itm2" "img itm3";
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 0;
         column-gap: 0;
  }
  .ctn_stn_itm1 .ctn_section_inf {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 25rem;
    justify-self: center;
  }
  .ctn_stn_itm1 .ctn_section_inf h3 {
    text-align: start;
  }
  .ctn_stn_itm1 .ctn_section_inf p {
    text-align: start;
  }
  .ctn_stn_itm1 .itm1 {
    align-self: end;
  }
  .ctn_stn_itm1 .itm3 {
    align-self: start;
  }
  .ctn_stn_itm3 {
    grid-template-areas: "title title title" "itm1 itm2 itm3";
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 80rem;
  }
  .ctn_footer .ctn_footer_links_holder {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    max-width: 31.25rem;
    margin-inline: 4rem;
  }
  .ctn_footer .ctn_footer_links_holder .itm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 10rem;
  }
  .ctn_footer .ctn_footer_links_holder .itm a {
    font: 400 1rem "Bai Jamjuree", sans-serif;
    color: hsl(210deg, 10%, 33%);
    margin: 1rem;
  }
}
@media (hover: hover) {
  .ctn_btn .btn1:hover {
    background: rgba(38, 186, 164, 0.8);
    box-shadow: 0px 4px 0px hsla(171deg, 87%, 27%, 0.6);
  }
  .ctn_btn .btn2:hover {
    background: rgba(97, 115, 255, 0.8);
    box-shadow: 0px 4px 0px hsla(233deg, 66%, 43%, 0.6);
  }
  .ctn_btn .itm_btn:active {
    transform: scale(0.95);
    box-shadow: 0px 0px 0px hsla(233deg, 66%, 43%, 0.5);
  }
  .ctn_footer .ctn_footer_links_holder .itm a:hover {
    color: hsl(171deg, 66%, 44%);
  }
  .ctn_footer .ctn_footer_social_holder a:hover ion-icon {
    color: hsl(171deg, 66%, 44%);
  }
}/*# sourceMappingURL=style.css.map */